*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: hwb(195 25% 54%);
    overflow: hidden;
    padding-left: 35rem;
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: hwb(77 20% 36%);
}

.heading span{
    color: #ff1100;
}

.title{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 6rem;
    border-bottom: .1rem solid #fff4;
    color: hsl(183, 76%, 41%);
}

.title span{
    color: rgb(207, 10, 125);
}

.head{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: rgb(39, 66, 91);
}
.head span{
    color: #20516c;
}
.pro{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding-top: 5rem;
    border-bottom: .1rem solid #fff4;
    color: hsl(285, 81%, 40%);
}
.pro span{
    color: rgb(25, 201, 166);
}
header{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background:#674264;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid;
}

header .user .nm{
    font-size:2rem;
    color: hwb(90 2% 94%);
}

header .user .jb{
    font-size:1rem;
    color: rgb(2, 19, 11);
}

header .nv{
    width: 100%;
}
header .nv ul{
    list-style: none;
    padding: 1rem ;
}

header .nv ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: hsla(186, 83%, 26%, 0.461);
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;  
}
header .nv ul li a:hover{
    background-color:gold;
}

.Details .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Details .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Details .Row .det h3{
    font-size: 2rem;
    color: hsla(188, 81%, 45%, 0.819);
    padding: 1rem 0;
    font-weight: normal;
}

.Details .Row .det h3 span{
    color: hsl(316, 42%, 25%);
    padding: 0. 5rem;
}
table,th,td{
    border: 1px solid hwb(176 17% 47%);
    border-collapse: collapse;
}
td{
    color: hsla(193, 93%, 46%, 0.463);
    padding: 1rem;
}
th{
    color: rgb(28, 221, 225);
    padding: 1rem;
}
table{
    text-align: center;
    margin: 0 6rem;
    font-size: 2rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: hsl(138, 87%, 41%);
}
#lis li{
    margin: 0 9rem;
    color: #0bbbda;
    font-size: medium;
    padding: .5rem 1rem;
}
.Project .Row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
}

.Project .Row .det{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 8rem;
}

.Project .Row .det h3{
    font-size: 2rem;
    color: rgba(251, 255, 43, 0.53);
    padding: 1rem 0;
    font-weight: normal;
}

.Project .Row .det h3 span{
    color: rgb(168, 145, 145);
    padding: 0. 5rem;
}